<%-include('../layouts/header.ejs') %>
<div class="container" style="overflow: hidden; margin-top: 50px;">
  <div class="row">
    <h5 style="padding-left: 15px;"><strong>My Account</strong></h5>
  
    <!-- Left Box: User Info and Navigation -->
    <div class="col-12 col-md-5" style="margin-bottom: 20px;">
      <div class="box" style="border: 2px solid #dbcdcd; padding: 20px; border-radius: 20px; box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3); line-height: 1; height: auto;">
        <div class="list-group" style="line-height: 33px; border-width: 0;">
          <a href="#" class="list-group-item list-group-item-action">
            <ul style="list-style-type: none; padding-left: 0;">
              <li><i class="fa-solid fa-user"></i><strong> <%= user.name %></strong></li>
              <li><small><%= user.email %></small></li>
            </ul>
          </a>
          <a href="/wishlist" class="list-group-item list-group-item-action">Wishlist</a>
          <a href="/orderhistory" class="list-group-item list-group-item-action">My Orders</a>
          <a href="/myaddress" class="list-group-item list-group-item-action">Delivery Addresses</a>
          <a href="/change_password" class="list-group-item list-group-item-action">Change Password</a>
          <a href="/mywallet" class="list-group-item list-group-item-action">Wallet</a>
        </div>
      </div>
    </div>
  
    <!-- Right Box: Account Information -->
    <div class="col-12 col-md-7" >
      <div class="box" style="border: 2px solid #dbcdcd; padding: 20px; border-radius: 20px; box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3); line-height: 3; height: 550px;">
        <h6><strong>Account Information</strong></h6>
  
        <form action="" method="post">
          <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control" id="name" value="<%= user.name %>">
          </div>
  
          <div class="form-group">
            <label for="email">Email address</label>
            <input type="email" class="form-control" id="email" aria-describedby="emailHelp" value="<%= user.email %>" readonly>
          </div>

          
            <div class="form-group">
              <label for="mobile">Mobile Number</label>
              <input type="number" class="form-control" name="mobile"  placeholder="+91" >
              
            </div>
            
            <div class="form-group">
              <label>Gender</label>
              <select class="form-select" name="gender" aria-label="Default select example">
                <option selected>Choose..</option>
                <option value="Male">Male</option>
                <option value="Female">Female</option>
                <option value="Other">Other</option>
              </select>
            </div>
  
          <button type="submit" class="btn btn-light" style="background-color: rgb(250, 191, 241); width: 100%; height: 40px; border-radius: 50px; font-size: large; margin-top: 50px;">Edit</button>
        </form>
      </div>
    </div>
  </div>
  </div>
<%-include('../layouts/footer.ejs') %>