<%-include('../layouts/header.ejs') %>
    <section>
      <br>
        <div class="col-12 col-md-6 container" >
          <h5 style="color: rgb(154, 8, 132) ;text-align: center;">FORGOT YOUR PASSWORD?</h5>
          <br>
            <form action="" method="post"  class="box" style="border: 2px solid #dbcdcd; padding: 20px; border-radius: 20px;box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);" ">
                <div class="form-group" >
                  <h6 style="color: rgb(154, 8, 132) ;">RETRIEVE YOUR PASSWORD HERE</h6>
                  <br>
                  <label for="Email">Email address</label>
                  <input type="email" class="form-control" name="email" id="Email" aria-describedby="emailHelp" placeholder="Enter email" value="<%= emailValue %>" required>
                  <span id="emailError" style="color: red;" class="invalidAlert"></span>
                </div>
                <br>
                <div class="form-row">
                    <div class="form-group col-md-4">
                      <button style="background-color: rgb(250, 191, 241);" name="action" type="submit" id="clickButton" onclick="startCountdown()" value="genotp" class="btn btn-light">Generate OTP</button>
                      <span id="countdown"></span>
                    </div>
                    <small id="message" style="color: green;"></small>
                    <div class="form-group col-md-10">
                      <% if(typeof message1 !=='undefined'){
                        %>
                        <p style="color: rgb(8, 156, 23);">
                            <%= message1 %>
                        </p>
                        <%
                      }
                     %>
                    </div>
                  </div>
                  <br>
                  <div class="form-row">
                    
                    <div class="form-group col-md-12">
                      <label for="OTP">Enter OTP</label>
                      <input type="text" class="form-control" id="OTP" name="otp">
                    </div>
                  </div>
                  <br>
                <div class="form-group">
                  <label for="exampleInputPassword1">New Password</label>
                  <input type="password" class="form-control" name="password" id="exampleInputPassword1" placeholder="Password" value="<%= passwordValue %>" >
                  <span id="passwordError" style="color: red;" class="invalidAlert"></span>
                </div>
                
                <br>
                  
                  <div class="form-row"> 
                    <div class="form-group col-md-4">
                      <button style="background-color: rgb(250, 191, 241);" name="action" value="passwordchange" type="submit" class="btn btn-light" onclick="return validateForm()">Change Password</button>
                    </div>
                    <div class="form-group col-md-10">
                      <% if (typeof message !== 'undefined') { %>
                        <div class="alert alert-warning text-center" role="alert" id="invalidAlert" style="color: red;">
                          <strong><%= message %></strong>
                        </div>
                      <% } %>
                      </div>
                  </div>
               
                
            </form>
        </div>
    </section>
    <script>
      
     window.onclick = function(){
    clearAlert()
  }
  async function clearAlert(){
    const userAlert = await document.getElementById('invalidAlert')
    if(userAlert){
      userAlert.style.display = 'none'
    }
  }

  function validateForm() {
  const email = document.getElementById('Email').value;
  const password = document.getElementById('exampleInputPassword1').value;
  
  // Email validation using regex
  const emailRegex = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;
  const emailError = document.getElementById('emailError');
  if (!email.match(emailRegex)) {
    emailError.innerText = 'Please enter a valid email address.';
    return false;
  } else {
    emailError.innerText = ''; // Clear previous error message
  }
  const passwordError = document.getElementById('passwordError');
  // Password validation (at least 8 characters)
  if (password.length < 8) {
    passwordError.innerText = 'Password must be at least 8 characters long.';
    return false;
  }else {
    passwordError.innerText = ''; // Clear previous error message
  }

  return true;
}
      
      function startCountdown() {
        const emailInput = document.getElementById("Email");
        const emailValue = emailInput.value;
        console.log(emailValue)
        
        const flag = 2;
       
      
        let countdownValue = 10;
        let countdownInterval;
        const clickButton = document.getElementById('clickButton');
        clickButton.disabled = true;
        
        fetch(`/resend?emailid=${emailValue}&flag=${flag}`)
      
        const message = document.getElementById('message');
        message.textContent = "OTP send sucessfully"
        countdownInterval = setInterval(() => {
          const countdownElement = document.getElementById('countdown');
          countdownElement.innerText = `Countdown: ${countdownValue} seconds`;
      
          if (countdownValue === 0) {
            clearInterval(countdownInterval);
            clickButton.disabled = false;
            clickButton.innerText = 'Resend OTP';
            countdownElement.innerText = '';
          }
      
          countdownValue--;
        }, 1000);
      }
      
          </script>
<%-include('../layouts/footer.ejs') %>