<%-include('../layouts/header.ejs') %>
<br>
<h4 style="text-align: center;"><strong>Order Review</strong></h4>
<div class="container" style=" display: flex; width: auto;margin-top: 10px;height: auto;justify-content:space-around" >
 <!-- style="margin-top: 200px;margin-bottom: 200px; text-align: center;"-->
 
 <div class=" col-md-6 " style="display: flex-box;">
<div class="box" style="border: 2px solid #dbcdcd; padding: 20px; border-radius: 20px;box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);line-height: 1;">
  <h6><strong>Delivery Address</strong></h6>
  <hr style="color: black;">
  <p ><%= address.name%></p>
  <p><%= address.address%></p>
  <p>PIN:<%= address.pin%></p>
  <p>MOBILE:<%= address.mobile%></p>
  
</div>
<br>
<div class="cartitems" style="background-color: rgb(255, 250, 250);">
  <table style=" margin-bottom: 200px; width: 560px;margin-left:0 ;">
  <tr>
     
      <th><strong> Product</strong></th>
      <th><strong>Quantity</strong></th>
      <th><strong>Subtotal</strong></th>
  </tr>
  <% let overallTotal = 0; %>
  <% cartDetail.forEach(function(item) { %>
    <% let subtotal = item.quantity * item.productDetails.selling_price; %>
      <% overallTotal += subtotal; %>
  <tr>
      <td>
       
        <div class="cart-info">
          <img src="productimages/<%= item.productDetails.images[0] %>"  width="60px" height="50px">
          <div>
            <p><strong><%= item.productDetails.name %></strong></p>
            <small>Rs:<%= item.productDetails.selling_price %></small>
            
          </div>
        </div>
        
      </td>
      <td><%= item.quantity %></td>
      <td id="subtotal<%= item.item %>"><%= subtotal %></td>

  </tr>
  <% }); %>
  </table>
</div>

 </div>

 <div class="rightportion" style="display: flex-box; " >
  <div class="box" style="border: 2px solid #dbcdcd; padding: 20px; border-radius: 20px;box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);line-height: 1;" >
    <h6><strong>Payment Details</strong></h6>
    <hr style="color: black;">
    <table style="margin: 5px; width: 400px;">
      <tr>
        <td>MRP Total</td>
        <td><strong>Rs: <%= cartitems[0].total %></strong></td>
      </tr>
      <tr>
        <td>Product Discount</td>
        
        <td><strong>Rs: <%= cartitems[0].discountAmount %></strong></td>
      </tr>
      <tr>
        <td>Subtotal</td>
        <td>Rs: <strong id="subtotalvalue"><%= cartitems[0].subtotal %></strong></td>
      </tr>
    </table>
    
  </div>

  <div class=" box"  style="border: 2px solid #dbcdcd; padding: 20px; border-radius: 20px;box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);line-height: 1; height: 300px; margin-top: 25px;">
    <h6><strong>Payment Method</strong></h6>
    <hr style="color: black;">
    <div class="form-check " >
      
      
      <div class="card  "  >
          <div class="card-body">
              <div class="form-check">
                  <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1" value="1">
                  <label class="form-check-label" for="flexRadioDefault1">
                    Cash on Delivery
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" value="2" >
                  <label class="form-check-label" for="flexRadioDefault2">
                    Net banking
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault3" value="3" >
                  <label class="form-check-label" for="flexRadioDefault3">
                   Wallet
                  </label>
                </div>
                <div id="walletDetails" style="display: none;">
                  Wallet Amount: Rs<span id="walletAmount" style="color: green;"> <%= walletAmount %></span>
                  <div class="form-check" id="checkbox" style="display: none;">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                    <label class="form-check-label" for="flexCheckDefault">
                      Use Net Banking for remaining amount (Rs <b id="balance">0</b>)
                    </label>
                  </div>
                </div>
          </div>
        </div>
    </div>
    <div style="margin-left: 30px;">
      <% if(typeof message !=='undefined'){
        %>
        <p style="color: red;">
        <%= message %>
        </p>
        <%
        }
        %>
     <br>
    <a href="#"  onclick="checkout('<%= walletAmount %>')"> <button type="button" class="btn btn-light" style="background-color: rgb(250, 191, 241);width: 300px; height: 40px; border-radius: 50px; font-size: large; margin-left: 40px;">Checkout</button></a>
    </div>
     </div>

 </div>
 
 
</div> 

<script src="https://checkout.razorpay.com/v1/checkout.js"></script>
<script>
  function checkout(walletAmount) {
    let Amount = parseFloat(walletAmount);
   
    const selectedRadio = document.querySelector('input[name="flexRadioDefault"]:checked');
    let balanceAmount = document.getElementById('balance').textContent
    console.log("balance:"+balanceAmount)
  if (selectedRadio) {
    const selectedValue = selectedRadio.value;
    if(selectedValue === '2'){
      console.log("onlne banking")
      if(netBankingCheckbox.checked = true){
        balanceAmount = balanceAmount
      }else{
        balanceAmount = 0
      }
     
      const data = {
     selectedValue : selectedValue,
     balanceAmount : balanceAmount
      };

fetch('/onlinepayment', {
  method: 'POST',
  headers: {
    'Content-Type': 'application/json'
  },
  body: JSON.stringify(data)
})
  .then(response => response.json())
  .then(data => 
  {
   console.log(data.key_id )
  //-----------------------------------------------------------------------
  var options = {
    "key": data.key_id, // Enter the Key ID generated from the Dashboard
    "amount": data.oamount, // Amount is in currency subunits. Default currency is INR. Hence, 50000 refers to 50000 paise
    "currency": "INR",
    "name": "deepa",
    "description": "Test ",
    "image": "",
    "order_id": data.oid, //This is a sample Order ID. Pass the `id` obtained in the response of Step 1
    "handler": function (response){
      
      //  alert(response.razorpay_payment_id);
      //  alert(response.razorpay_order_id);
      //  alert(response.razorpay_signature)
      console.log("payment:"+response)
       verifyPayment(response,data.oreceipt)
        
    },
    "prefill": {
        "name": "Gaurav Kumar",
        "email": "gaurav.kumar@example.com",
        "contact": "9000090000"
    },
    "notes": {
        "address": "Razorpay "
    },
    "theme": {
        "color": "#3399cc"
    }
};
var rzp1 = new Razorpay(options);
rzp1.on('payment.failed', function (response){
        alert(response.error.code);
        alert(response.error.description);
        alert(response.error.source);
        alert(response.error.step);
        alert(response.error.reason);
        alert(response.error.metadata.order_id);
        alert(response.error.metadata.payment_id);
});
rzp1.open();
  })
 
  //-------------------------------------------------------------------------
  .catch(error => console.error('Error:', error));

    }
    else{

    console.log('Selected radio button value:', selectedValue);
    window.location.href = `/checkout?selectedValue=${selectedValue}&walletAmount=${Amount}`;
    }
  } else {
    console.error('No radio button selected.');
  }
}
//-----------------------------------------------------
    function verifyPayment(payment,orderid){
      const data = {
        payment: payment,
        orderid: orderid
};

      fetch('/verify-payment', {
      method: 'POST',
      headers: {
      'Content-Type': 'application/json'
      },
    body: JSON.stringify(data) // Convert data to JSON string
  })
  .then(response => response.json())
  .then(data => 
  {
    console.log('Data:', data)
    console.log(data.message)
    window.location.href = `/success?message=${data.message}&orderid=${data.oid}`
  })
  .catch(error => console.error('Error:', error));

    }
//----------------------------------------------------------

       
       // const walletAmount = parseInt('<%= walletAmount %>').toFixed(2);
        //const orderAmount = parseInt('<%= cartitems[0].subtotal %>').toFixed(2);
       // console.log("walletAmount"+walletAmount)
       // console.log(typeof(walletAmount))
             
       const walletDetails = document.getElementById('walletDetails');
  const walletamount = document.getElementById('walletAmount');
       const walletAmount = parseFloat(walletamount.textContent)
        const subtotalvalue = document.getElementById('subtotalvalue');
        const subtotalValue = parseFloat(subtotalvalue.textContent)
        const balance = document.getElementById('balance');
        const netBankingCheckbox = document.getElementById('flexCheckDefault');
const handlePaymentOptionChange = () => {
 
      
      
        const walletPaymentRadio = document.getElementById('flexRadioDefault3');
        const netBankingRadio = document.getElementById('flexRadioDefault2');
        const balance = document.getElementById('balance')
        const checkbox =document.getElementById('checkbox');
    
       // const balance =  cartitems[0].subtotal +  walletAmount  
       // console.log("balance"+balance)
        
        if (walletPaymentRadio.checked) {
           
            walletDetails.style.display = 'block';
            if (walletAmount < subtotalValue) {
              checkbox.style.display = 'block';
              netBankingCheckbox.style.display = 'block';
              const balanceAmount = (subtotalValue-walletAmount).toFixed(2)
              balance.innerText = balanceAmount
             // netBankingCheckbox.checked = true;
            } else {
             netBankingCheckbox.style.display = 'none';
             
            }

        } else {
            walletDetails.style.display = 'none';
            netBankingCheckbox.style.display = 'none';
        }
    };

const paymentRadios = document.querySelectorAll('input[name="flexRadioDefault"]');
    paymentRadios.forEach(radio => {
        radio.addEventListener('change', handlePaymentOptionChange);
    });
    //const netBankingCheckbox = document.getElementById('flexCheckDefault');
  netBankingCheckbox.addEventListener('change', () => {
  if (netBankingCheckbox.checked) {
    const netBankingRadio = document.getElementById('flexRadioDefault2');
    netBankingRadio.checked = true;
  }
});
  
    handlePaymentOptionChange();

</script>


<%-include('../layouts/footer.ejs') %>