<%-include('../layouts/header.ejs') %>
<br>
<div class="card " style="width: 38rem; margin-left: 350px; border-color: white;">
  <div class="col-md-5 ">
  <% if (product[0].rounded_percentage !== "0% Offer") { %>
    <span class="badge bg-danger" ><%= product[0].rounded_percentage %></span>
    <% } else { %>
      <span class="badge bg-light" >  </span>
    <% } %>
  </div>
    <div class="inner ">
      
    <img class="card-img-top  " style="width: 300px; height: 300px;" src="productimages/<%= product[0].image %>" alt="Card image cap">
    </div>
    <div class="card-body">
      <h4 class="card-title"><%= product[0].name %></h4>
      <h3 class="card-title"><strong> RS:<%= product[0].selling_price %></strong></h3>
      <h5 class="card-text"> MRP:<s style="text-decoration: line-through;  color: red;"><%= product[0].mrp %></s></h5>
      <p class="card-text"><%= product[0].description %></p>
      <a href="/add-to-cart?id=<%= product[0]._id %>&data=<%= wishdata %> " class="btn btn-white" style="background-color:  rgb(247, 202, 250);">Add to cart</a>
      <% if (wishflag == 1) { %>
        <a href="/remove-from-wishlist?id=<%= product[0]._id %>" class="btn btn-white" style="background-color:  rgb(247, 202, 250);float: right;">Remove from Wishlist</a>
        <% } else { %>
        <a href="/add-to-wishlist?id=<%= product[0]._id %>" class="btn btn-white" style="background-color:  rgb(247, 202, 250);float: right;">Add to Wishlist</a>
        <% } %>
      
    </div>
  </div>

  <script>
   
    </script>
    



<%-include('../layouts/footer.ejs') %>