<%-include('../layouts/header.ejs') %>

<div class="alert alert-success col-md-6 mx-auto text-center my-5 p-4" style="border: 2px solid #dbcdcd; border-radius: 20px; box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3); background-color: rgb(245, 235, 244);">
  <% if (message === 'Order placed successfully!') { %>
  <i class="fa-solid fa-circle-check" style="color: #08aa13;"></i>
  <% } else { %>
    <i class="fa-solid fa-circle-xmark" style="color: #ff0000;"></i>
    <% } %>
    <h4 class="alert-heading"><%= message %></h4>
    <br>
    <% if (message === 'Order placed successfully!') { %>
    <p>Your order ID is: <strong><%= newOrderId %></strong> </p>
    <% } else { %>
      <p>Your Reference ID is: <strong><%= newOrderId %></strong> </p>
      <% } %>
    <br>
    <hr>
    <br>
    <div style=" text-align: center;">
      <a href="/home" style="text-decoration: none; color: #007bff; float: left;">Back to Home</a>
      <a href="/orderdetails?id=<%= orderId %>" style="text-decoration: none; color: #007bff; float: right;">View Details</a>
      <a href="/download_invoice?id=<%= orderId %>" style="text-decoration: none; color: #dc3545;">Download Invoice <i class="fa-solid fa-file-arrow-down" style="color: #f10404;"></i></a>
      
    </div>
  </div>



<%-include('../layouts/footer.ejs') %>